.breadcrums{
    background: #980707;
    padding: 20px 0px;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
}
.boxsd{
    box-shadow: 5px 2px 15px grey;
    border-radius: 10px;
    padding: 10px 12px;
}
.boxsd p{
    font-size: 18px;
    font-weight: 600;
}
.card{
    box-shadow: 0px 0px 15px grey;
    transition: 300ms ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.aboutus{
    padding: 16px 0px;
    border-bottom: 1px solid #ff512f;
}
.aboutus h6{
    color: #ff512f;
    font-size: 26px;
}
.aboutus p{
text-align: justify;
line-height: 25px;
margin-bottom: 0px;
}
.appointment{
    width: 100%;
    padding: 60px 0px;
    background-color: #980707;
}
.appointment h1{
    color: white;
    font-weight: 900;
    font-size: 62px;
    padding-top: 60px;
}
.appointment h3{
    color: white;
}
.appointment p{
    color: white;
    margin-top: 20px;
}
.appointment form{
    border-radius: 22px;
    background-color: white;
    padding: 25px 20px;
}
.appointment h2{
    color: #980707;
    text-align: center;
    font-weight: 700;
    margin-bottom: 26px;
}
.appointment h4{
    color: #172541;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.appointment form input{
    border: 1px solid #e3e3e3;
    width: 100%;
    padding: 4px 6px;
    margin-bottom: 18px;
    box-sizing: border-box;
}
.appointment form input:focus{
    border: 2px solid #980707;
    outline: transparent;
}
.appointment form select{
    background-color: #e9e9ed;
    border: 2px solid #e9e9ed;
    width: 100%;
    padding: 4px 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.appointment form textarea{
    width: 100%;
    height: 100px;
}
.appointment form p{
    color: #980707;
    font-size: 16px;
}
.appointment form button{
    width: 180px;
  padding: 8px 4px;
  margin: auto;
  margin-top: 24px;
  border-radius: 5px;
  background-color: #980707;
  color: white;
  font-weight: 600;
  border: 2px solid #980707;
  transition: 500ms;
}
.appointment form button:hover{
    color: #980707;
    background-color: white;
}
.appointment form textarea:focus{
    outline: #980707;
}
.admission{
    padding: 70px 0px;
}
.photo_box h1{
    font-size: 38px;
    font-weight: bolder;
    padding-left: 32px;
  border-left: 5px solid red;
  padding-right: 68px;
  margin-bottom: 18px;

}
.photo_box h2{
    padding-left: 37px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.photo_box h3{
    color: #980707;
    font-size: 25px;
    font-weight: 700;
    margin-top: 64px;
}
.photo_box p{
    color: #3a3a3a;
    font-size: 16px;
    line-height: 1.5;
}
.admission h4{
    color: #980707;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.admission h5{
    color: black;
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
}
.admission ul li{
    list-style: disclosure-closed;
    margin: 4px 0px;
}
.rights{
    padding: 70px 0px;
}
.rights h1{
    font-size: 38px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 32px;
}
.rights h1 span{
    color: #980707;
}
.rights ul{
    padding: 0px 70px;
}
.rights ul li{
    list-style: disclosure-closed;
    margin: 10px 0px;
    font-size: 18px;
}
@media (max-width: 576px){
    .appointment h1{
        font-size: 34px;
        text-align: center;
        padding-top: 15px;
    }
    .appointment h3{
        font-size: 20px;
        text-align: center;
    }
    .appointment{
        padding: 20px 0px;
    }
    .appointment h2{
        margin-bottom: 12px;
        font-size: 24px;
    }
    .appointment p{
        font-size: 14px;
    text-align: center;
    margin-top: 12px;
    }
    .appointment form p{
        font-size: 14px;
        text-align: center;
    }
    .appointment form{
        padding: 18px 14px;
        border-radius: 12px;
    }
    .appointment form input, .appointment form select{
        padding: 10px;
    }
    .appointment form textarea{
        outline: 2px solid #e3e3e3;
    }
    .appointment form textarea:focus{
        outline: 2px solid #980707;
    }
}