.breadcrums{
    background: #980707;
    padding: 20px 0px;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
}
.boxsd{
    box-shadow: 5px 2px 15px grey;
    border-radius: 10px;
    padding: 10px 12px;
}
.boxsd p{
    font-size: 18px;
    font-weight: 600;
}
.card{
    box-shadow: 0px 0px 15px grey;
    transition: 300ms ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.aboutus{
    padding: 16px 0px;
    border-bottom: 1px solid #ff512f;
}
.aboutus h6{
    color: #ff512f;
    font-size: 26px;
}
.aboutus p{
text-align: justify;
line-height: 25px;
margin-bottom: 0px;
}
.appointment{
    width: 100%;
    padding: 60px 0px;
    background-color: #980707;
}
.appointment h1{
    color: white;
    font-weight: 900;
    font-size: 62px;
    padding-top: 60px;
}
.appointment h3{
    color: white;
}
.appointment p{
    color: white;
    margin-top: 20px;
}
.appointment form{
    border-radius: 22px;
    background-color: white;
    padding: 25px 20px;
}
.appointment h2{
    color: #980707;
    text-align: center;
    font-weight: 700;
    margin-bottom: 26px;
}
.appointment h4{
    color: #172541;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.appointment form input{
    border: 1px solid #e3e3e3;
    width: 100%;
    padding: 4px 6px;
    margin-bottom: 18px;
    box-sizing: border-box;
}
.appointment form input:focus{
    border: 2px solid #980707;
    outline: transparent;
}
.appointment form select{
    background-color: #e9e9ed;
    border: 2px solid #e9e9ed;
    width: 100%;
    padding: 4px 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.appointment form textarea{
    width: 100%;
    height: 100px;
}
.appointment form textarea:focus{
    outline: #980707;
}